@import "../utils/container.scss";
@import "../utils/mixins";

.swiper-pagination-bullet {
  background: var(--swiper-pagination-color); // Колір пагінації
  opacity: 0.5;
  transition: all 0.3s;
  width: var(--swiper-pagination-bullet-width);
  height: var(--swiper-pagination-bullet-height);
  bottom: var(--swiper-pagination-bottom);

  &:hover {
    background: var(--swiper-pagination-color);
  }
}

.swiper-pagination-bullet-active {
  background: var(--swiper-pagination-bullet-inactive-color);
}
//

.feedback {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}

.feedback__wrap {
  padding: 30px 15px;
  margin-bottom: 10px;

  @include tablet {
    padding: 30px;
  }
}

.feedback__review__title {
  background: linear-gradient(90deg, #758697, #ffffff, #758697);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  font-family: "Playfair Display", Sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 0px;
  @include tablet {
    font-size: 1.2em;
  }
}
.feedback__review__text {
  font-size: 15px;
  text-decoration: none;
  line-height: 16px;

  font-weight: 400;
  background: linear-gradient(90deg, #758697, #ffffff, #758697);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  padding: 20px;
}
.feedback__info__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #758697, #ffffff, #758697);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  font-family: "Playfair Display", Sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 0px;
  @include tablet {
    font-size: 1.2em;
  }
}
// .feedback__info__name {
// }
// .feedback__info__date {
// }
.feedback__summary__title {
  background: linear-gradient(90deg, #758697, #ffffff, #758697);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
  font-family: "Playfair Display", Sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 0px;
  border-top: 0.5px solid #758697;
  margin-top: 15px;
  @include tablet {
    font-size: 1.2em;
  }
}
.feedback__summary__text {
  padding: 20px;

  font-size: 15px;
  text-decoration: none;
  line-height: 16px;

  font-weight: 400;
  background: linear-gradient(90deg, #758697, #ffffff, #758697);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: color 0.5s;
}
